<div class="row" *ngIf="cart$ | async as cart">
  <div class="col-3 mb-3 laptop-screens" style="margin-right: 20px">
    <product-filter [category]="category"></product-filter>
  </div>

  <div class="mobile-screens mb-3">
    <product-filter [category]="category"></product-filter>
  </div>

  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col laptop-screens">
          <product-card [shopping-cart]="cart" [product]="p"></product-card>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngFor="let p of filteredProducts">
    <div class="mobile-screens d-flex justify-content-center">
      <product-card [shopping-cart]="cart" [product]="p"></product-card>
    </div>
  </ng-container>
</div>
