<nav class="navbar navbar-expand bg-dark user-select-none">
  <div class="container-fluid text-white">
    <div class="d-flex">
      <a class="navbar-brand text-white" routerLink="/">Oshop</a>
      <div class="d-flex flex-row">
        <a
          class="nav-item d-flex align-items-center dropdown-item laptop-screens"
          routerLink="/shopping-cart"
        >
          Shopping Cart
          <span
            *ngIf="cart$ | async as cart"
            class="badge badge-pill badge-warning"
            style="background-color: #ffc107; color: black; margin-left: 4px"
          >
            {{ cart.totalItemsCount }}
          </span>
        </a>
      </div>
    </div>
    <ul class="navbar-nav">
      <div class="left-nav-items">
        <li
          class="nav-item dropdown dropdown1"
          *ngIf="appUser; else anonymousUser"
        >
          <div class="d-flex align-items-center">
            <img
              *ngIf="appUser.imageUrl"
              [src]="appUser.displayImage || appUser.imageUrl"
              class="user-image"
            />
          </div>

          <a
            class="nav-link dropdown-toggle text-white laptop-screens"
            [matMenuTriggerFor]="menuLaptop"
            role="button"
            id="navbarToggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true"
          >
            {{ appUser.displayName || appUser.name }}
          </a>

          <mat-menu class="laptop-screens" #menuLaptop="matMenu">
            <a class="dropdown-item" mat-menu-item routerLink="/my/orders"
              >My Orders</a
            >
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" mat-menu-item routerLink="/admin/orders"
                >Manage Orders</a
              >
              <a class="dropdown-item" mat-menu-item routerLink="admin/products"
                >Manage Products</a
              >
              <a
                *ngIf="appUser.isManager"
                class="dropdown-item"
                mat-menu-item
                routerLink="/manage-users"
                >Manage Users</a
              >
            </ng-container>
            <mat-divider></mat-divider>
            <a class="dropdown-item" (click)="logout()" mat-menu-item
              ><span class="text-danger">Log Out</span></a
            >
          </mat-menu>
        </li>

        <ng-template #anonymousUser>
          <li class="nav-item" style="margin-right: 10px">
            <button
              class="nav-item text-white nav-link btn btn-primary px-3"
              aria-current="page"
              routerLink="/login"
            >
              Login
            </button>
          </li>
        </ng-template>

        <li
          class="nav-item dropdown d-flex align-items-center dropdown1 mobile-screens"
        >
          <mat-icon
            class="nav-link triple-dots text-white mobile-screens"
            mat-button
            [matMenuTriggerFor]="menuMobile"
          >
            more_vert
          </mat-icon>

          <mat-menu class="mobile-screens" #menuMobile="matMenu">
            <a
              class="dropdown-item mobile-screens"
              mat-menu-item
              routerLink="/shopping-cart"
            >
              Shopping Cart
              <span
                *ngIf="cart$ | async as cart"
                class="badge badge-pill badge-warning"
                style="
                  background-color: #ffc107;
                  color: black;
                  margin-left: 4px;
                "
              >
                {{ cart.totalItemsCount }}
              </span>
            </a>
            <div *ngIf="appUser">
              <a class="dropdown-item" mat-menu-item routerLink="/my/orders"
                >My Orders</a
              >
              <ng-container *ngIf="appUser.isAdmin">
                <a
                  class="dropdown-item"
                  mat-menu-item
                  routerLink="/admin/orders"
                  >Manage Orders</a
                >
                <a
                  class="dropdown-item"
                  mat-menu-item
                  routerLink="/admin/products"
                  >Manage Products</a
                >
                <a
                  *ngIf="appUser.isManager"
                  class="dropdown-item"
                  mat-menu-item
                  routerLink="/manage-users"
                  >Manage Users</a
                >
              </ng-container>
              <mat-divider></mat-divider>
              <a class="dropdown-item" (click)="logout()" mat-menu-item
                ><span class="text-danger">Log Out</span></a
              >
            </div>
          </mat-menu>
        </li>
      </div>
    </ul>
  </div>
</nav>
