@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mobile-screens {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.laptop-screens {
    @media (max-width: 769px) {
        display: none !important;
    }
}

.maxw-400px-none-sml{
    @media (max-width: 400px) {
        display: none !important;
    }
}

.minw-400px-none-sml{
    @media (min-width: 401px) {
        display: none !important;
    }
}

.custom-snackbar {
  .mdc-snackbar__surface {
    background-color: rgb(255, 255, 255) !important;
  }

  .mdc-snackbar__label {
    color: black !important;
  }

  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 16px !important;
    margin-bottom: 40px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: #2239bc !important;
  }
}
